
<ul>
    {{#each burgers}}
   
    <li>
        <p>
       {{this.id}}. {{this.burger_name}}
       </p>
    </li>
    {{/each}}
</ul>



{{!-- <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>



<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul> --}}